requests
grpcio
protobuf
dask==2.12.0
distributed==2.12.0
fsspec>=0.3.3
docker
jinja2
psycopg2
sqlalchemy
pyyaml
typing_extensions
kubernetes==11.0.0
kopf==0.27
click==7.1.2
s3fs==0.4.2
GitPython==3.1.7
